.HourlyPreview {
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}

.HourlyPreview .icon {
  height: 50px;
  width: 50px;
}

.HourlyPreview .temperature {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: 400;
}
