.HourlyPreview {
  text-align: center;
  font-size: 13px;
  margin: 0 5px;
  color: rgb(186, 186, 186);
}

.HourlyPreview .icon {
  height: 50px;
  width: 50px;
}

.HourlyPreview .MaxTemp {
  color: rgb(135, 135, 135);
  position: relative;
  right: 3px;
}
.HourlyPreview .MinTemp {
  position: relative;
  left: 3px;
}

/* .HourlyPreview .temperature {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: 400;
} */
