.WeatherOverview h1 {
  font-size: 24px;
  font-weight: 100;
  margin-top: 25px;
}

.WeatherOverview ul {
  margin: 0 0 18px;
  padding: 0;
}

.WeatherOverview li {
  list-style: none;
  line-height: 19px;
}

.WeatherOverview .SummarySection {
  width: 200px;
  margin: 0 auto;
  background-color: white;
  height: 120px;
  padding: 10px 0;
}

.WeatherOverview .HourlyForecastSection {
  width: 350px;
  margin: 0 auto;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 30px;
}
.WeatherOverview .MainIcon {
  height: 64px;
  width: 64px;
  position: relative;
  bottom: 12px;
}

.WeatherOverview .MainTemp {
  font-size: 64px;
}

.WeatherOverview .unit {
  position: relative;
  top: -35px;
  left: 5px;
  font-size: 18px;
}

.WeatherOverview .LastUpdate {
  font-size: 10px;
}

.WeatherOverview .LocalTime {
  font-size: 14px;
}
