.WeatherOverview h1 {
  font-size: 24px;
  font-weight: 100;
  margin-top: 25px;
}

.WeatherOverview ul {
  margin: 0 0 18px;
  padding: 0;
}

.WeatherOverview li {
  list-style: none;
  line-height: 19px;
}

.WeatherOverview .SummarySection {
  width: 400px;
  margin: 24px;
  margin-bottom: 12px;
}

.WeatherOverview .SummarySection .col-5 {
  padding-left: 0px;
}

.WeatherOverview .SummarySection .MainIcon .icon {
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 15px;
}
.WeatherOverview .MainTemp {
  font-size: 54px;
}
.WeatherOverview .unit {
  position: relative;
  top: -30px;
  left: 5px;
  font-size: 16px;
  color: #7d7d7d;
}
.WeatherOverview .LocalTime {
  font-size: 14px;
}
.WeatherOverview .HourlyForecastSection {
  width: 355px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-left: 9px;
}

.WeatherOverview .LowerSection {
  padding-top: 15px;
}

.WeatherOverview .LowerSection .TimeToggle {
  font-size: 14px;
  position: relative;
  top: 10px;
}

.WeatherOverview .LastUpdate {
  font-size: 10px;
  position: relative;
  top: 20px;
  left: 55px;
}
