.WeeklyForecast {
  width: 400px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 10px;
  padding: 0px 15px 10px 15px;
  margin: 0 auto;
}

.WeeklyForecast .row {
  margin-top: -5px;
}

.WeeklyForecast .WeeklyHeader {
  font-size: 13px;
  width: 115px;
  background-color: white;
  position: relative;
  bottom: 10px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}
