.WeeklyPreview {
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}

.WeeklyPreview .icon {
  height: 35px;
  width: 35px;
}

.WeeklyPreview .temperature {
  font-size: 14px;
  font-weight: 400;
}
