.WeeklyPreview {
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  color: rgb(186, 186, 186);
}

.WeeklyPreview .icon {
  height: 35px;
  width: 35px;
}

.WeeklyPreview .MaxTemp {
  color: rgb(135, 135, 135);
  position: relative;
  left: 1px;
}

.WeeklyPreview .MinTemp {
  position: relative;
  left: 5px;
}
