.Weather {
  font-family: Roboto, arial, sans-serif;
  color: rgb(135, 135, 135);
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #9b9a9a;
  border-radius: 10px;
}

.Weather .btn-outline-secondary {
  color: #abacad;
  border-color: #abacad;
}
